.main-page {
  --aside-width: 300px;
}

#main-content {
  width: 100%;
}

@media screen(lg) {
  #main-content {
    max-width: calc(100% - var(--aside-width));
  }
}

.side-pane {
  padding-top: var(--nav-height);
  margin-top: calc(var(--nav-height) * -1);
  top: 0;
  position: sticky;
  @apply h-full max-h-screen overflow-y-scroll;
}
