* {
  box-sizing: border-box;
  transition: all 1s ease;
  /* @apply transition-all; */
}
html {
  @apply h-full;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family:
    Cantarell,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Noto Sans,
    sans-serif,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';

  /* transition: background-color 0s !important; */

  word-wrap: break-word;
  word-break: break-word;
  @apply overflow-visible !h-full m-0;
}

#root {
  --nav-height: 3.75rem;
  @apply flex flex-col min-h-full;
}

.ts-inh {
  transition: inherit;
}

ul {
  list-style-type: disc;
}

pre,
table,
code {
  overflow: auto;
}

table {
  table-layout: fixed;
  width: 100% !important;
}
