* {
  box-sizing: border-box;
  transition: all 1s ease;
  /* @apply transition-all; */
}
html {
  @apply h-full;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* transition: background-color 0s !important; */

  @apply overflow-visible !h-full m-0;
}

#root {
  --nav-height: 3.75rem;
  @apply flex flex-col min-h-full;
}

.ts-inh {
  transition: inherit;
}

ul {
  list-style-type: disc;
}
